/* Full Page Gradient Background */
html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  /* background: linear-gradient(to right, #667eea, #8000ff); */
}

/* Home Page Centering */
.home-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Home Card */
.home-card {
  background: white;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  text-align: center;
  width: 350px;
}

.home-card h2 {
  margin-bottom: 10px;
  color: black;
}

.home-card p {
  margin-bottom: 30px;
  color:black;
}

/* Login Buttons */
.home-links {
  display: flex;
  justify-content: space-between;
}

.home-links a {
  text-decoration: none;
  background-color: #667eea;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  transition: 0.3s ease;
}

.home-links a:hover {
  background-color: #5a67d8;
}